<style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        .topnav {
            overflow: hidden;
            background-color: #333;
        }
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        } 

        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }
</style>
<div class="topnav">
        <a href="./">Home</a>
        <a href="users">Users</a>
        <a href="estimates">Estimates</a>
        <a class="active" href="devices">Devices</a>
        <a href="assistances">Assistances</a>
        <a href="repairs">Repairs</a>
</div>
<p id="notice"><%= notice %></p>
<div style="padding-left:16px">

<table border="1">
  <thead>
    <tr>
      <th>Username</th>
      <th>Tipo</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Color</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.username %></td>
        <td><%= device.tipo %></td>
        <td><%= device.brand %></td>
        <td><%= device.model %></td>
        <td><%= device.color %></td>
        <td><%= device.number %></td>
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
</div>